ng="en">
<head>
  <title>Middle East's Silent Beast</title>
    <link rel="stylesheet" href="style.css" />
      <meta charset="utf-8" />
      </head>
      <body>
        <h1 style="color: #D90">Middle East's Silent Beast</h1>
	  <p>Late yesterday evening, the Middle East's largest
	    design house&mdash;until now, silent on the West's colorful
	      disagreement&mdash;announced the adoption of
	        <span style="color: #D90">Yellow</span> as this year's
		  color of choice.</p>
		      
		        <p><a href="index.html">Return to home page</a></p>
			</body>
			</html>
